<footer class="w-full">
    <form 
      id="notify-form" 
      data-page-id="<%= page.domainName %>"
      class="mt-10 flex flex-col sm:flex-row gap-x-4 gap-y-4 w-full"
    >
        <label for="email-input" class="sr-only">Email address</label>
        <input 
            id="email-input"
            name="email" 
            type="email" 
            autocomplete="email" 
            required 
            class="min-w-0 flex-auto rounded-md border border-gray-300 bg-white px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-white/10 placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6" 
            placeholder="이메일을 입력하세요..."
        >
        <button 
            id="notify-button"
            type="submit"
            class="flex-none rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm transition-opacity duration-300 disabled:opacity-50 disabled:cursor-not-allowed whitespace-nowrap"
            style="background-color: <%= theme.buttonColor %>; color: white;"
            disabled
        >
            알림 받기
        </button>
    </form>
    <!-- 메시지 표시 영역 -->
    <p id="message-area" class="mt-4 text-center text-sm"></p>
</footer>